%h1
  Support chat

#information-form
  %form
    .form-group
      %label{:for => "email"} Correo electronico
      %input#email.form-control{:placeholder => "juan@algo.com", :type => "email"}
    .form-group
      %label{:for => "name"} Nombre
      %input#name.form-control{:placeholder => "juan daniel"}
    %button#start-chat.btn.btn-default Iniciar chat

#chat{style: 'display: none;'}
  %form
    #output.form-control.chat-output
    .row
      .col-md-10
        %input#input.form-control{autocomplete: 'off'}
      .col-md-2
        %button#send.btn.btn-default.btn-block
          Enviar
